<footer class="bg-black white pb-1 pt-4" style="background-color:#111111; color: white;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 mb-2 d-flex flex-column align-items-xs-center">
        <h6>¿Necesitas ayuda?</h6>
        <h6 class="mt-2 mb-3 orange"><a class="link-border border-orange orange clickable" data-toggle="dropdown"
            id="contactoFooter"><b style="color:#FF6C2F ;">Contacto</b>
            <div class="line"></div>
          </a>
          <div style="background-color: #111111;" aria-labelledby="contacto" class="dropdown-menu dropdown-menu-right dropdown-custom"><a
              class="dropdown-item dropdown-item-custom" href="#"><i class="far fa-envelope"></i>
              contacto@mercadobodegas.net </a><a class="dropdown-item dropdown-item-custom" href="#"><i
                class="fas fa-phone-alt"></i> (+56) 955 - 9595 -599 </a></div>
        </h6>
      </div>
      <div class="col-sm-4 mb-2 d-flex flex-column align-items-xs-center">
        <h6>Para dueños de Mini Bodegas</h6><a style="color: white;" href="#" class="clickable"><span class="link-border border-white"><b>Iniciar
              sesión</b></span></a>
      </div>
      <div class="col-sm-4 mb-2 d-flex flex-column align-items-xs-center">
        <h6>MercadoBodegas en:</h6>
        <div class="mt-3">
          <div class="row">
            <div class="redes-link"><i class="fab fa-facebook-f fa-2x"></i></div>
            <div class="redes-link"><i class="fab fa-twitter fa-2x"></i>
            </div>
            <div class="redes-link"><i class="fab fa-linkedin-in fa-2x"></i></div>
            <div class="redes-link"><i class="fab fa-youtube fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row linea mt-3 mb-3" style="border-bottom: 2px solid white;"></div>
    <div class="row pb-2">
      <div class="col-md-4  mb-3">
        <!-- Logo -->
        <img src="https://www.mercadobodegas.cl/assets//logoWhite.svg" alt="">
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-end align-items-xs-center mb-2"></div>
      <div class="col-md-4 d-flex align-items-center justify-content-center mb-2 text-xs-center">
        <h6>© MercadoBodegas 2019 | Derechos Reservados</h6>
      </div>
    </div>
  </div>
</footer>

<!-- AEA Editar class and contens -->
