h4,h3,h6,h1{
  color: black;
}
a{
  text-decoration: none;
}
.oferta>h6{
  color: #00B8E6;
}
.unidad:hover{
  background-color: rgb(202, 200, 200);
}
.unidad{
  border-bottom: 3px solid #cdcdcd;
}
.cabecera{
  border-bottom: 2px solid black;
}
@media only screen and (max-width: 577px){
  .btn-danger{
    background-color: white !important;
    border-color: #ff6c2f !important;
    color: black !important;
  }
}

