h4,h3,h6,h1{
  color: black;
}
a{
  text-decoration: none;
}
.oferta>h6{
  color: #FF2321;
}
/* .unidad:hover{
  background-color:rgb(216, 240, 185)
} */
.bukos{
  color: #ff6c2f;
}
.unidad{
  border-bottom: 1px solid #eaeaea;
}
.cabecera{
  border-bottom: 2px solid black;
}
@media only screen and (max-width: 577px){
  .btn-danger{
    background-color: white !important;
    border-color: #ff6c2f !important;
    color: black !important;
  }
  .unidad:hover{
    background-color: white
  }
}

