<div class="container-fluid" id="principal">
  <div class="row m-0">
    <div class="col-md-8 col-sm-8 bg-white p-3">
      <h3>Resumen General</h3>
      <img src="assets/barras@2x.png" alt="" class="w-100">
    </div>
    <div class="col-md-4 col-sm-4 bg-white p-3">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row m-0 mt-2">
    <div class="col-md-4 col-sm-4 bg-white p-3">
      <img src="assets/grafico1@2x.png" alt="" class="w-100">
    </div>
    <div class="col-md-4 col-sm-4 bg-white p-3">
      <img src="assets/grafico1@2x.png" alt="" class="w-100">
    </div>
    <div class="col-md-4 col-sm-4 bg-white p-3">
      <img src="assets/grafcio2@2x.png" alt="" class="w-100">
    </div>
  </div>
</div>
