<nav class="navbar navbar-expand-md p-0 color-orange">
  <div class="ml-auto" id="logo">
    <a href="#" class="navbar-brand">
      <img src="https://mercadobodegas.cl/assets/logo1.svg" height="50" alt="CoolBrand">
    </a>
  </div>
  <div class="ml-auto row m-0 w-100" id="items">
    <div class="d-flex flex-row" id="login">
      <img src="https://cdn4.buysellads.net/uu/1/41334/1550855362-cc_dark.png" width="50" height="50" alt="">
      <div>
        <span>carnda30000@gmail.com</span><br>
        <span>Admin</span>
      </div>
    </div>
    <div >
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png"
        width="30px" height="30px">
      </button>
    </div>
  </div>

  <div class="ml-auto collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <div >
        <a href="#" class="nav-item nav-link active">Resumen</a>
      </div>
      <div >
        <a href="#" class="nav-item nav-link active">Resumen</a>
      </div>
    </div>
    <div class="navbar-nav ml-auto" id="login2">
      <div class="d-flex flex-row">
        <img src="https://cdn4.buysellads.net/uu/1/41334/1550855362-cc_dark.png" width="30px" height="30px" alt="">
        <div>
          <span>carnda30000@gmail.com</span><br>
          <span>Admin</span>
        </div>
      </div>
  </div>
  </div>

</nav>
