<section class="m-2">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">Datos Local</div>
        <div class="col-md-6">Datos Unidad</div>
      </div>
    </div>
    <div class="card-body">
      <div class="row m-2">
        <form class="w-100">
          <!-- https://mercadobodegas.cl/assets/logo1.svg -->
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-12">
              <label for="inputPassword4">Date</label>
              <input type="date" class="form-control" id="inputcode" placeholder="Code Reservation">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button type="submit" class="btn btn-block" style="background-color: #FF6C2F;color: white;">Cambiar Reserva</button>
            </div>
            <div class="col-md-6">
              <button type="submit"  class="btn btn-block btn-danger">Cancelar  </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
