ul{
  list-style: none;
}
#bntfiltro:hover{
  background-color:#ff6c2f !important; /* Green */
  color: white;
}
#bntfiltro{
  box-shadow:none !important;

}
/* Remove and Change Color  */
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ff6c2f!important;
  border-color: #ff6c2f!important;
}
.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow:none !important;
  border-color: #ff6c2f!important;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow:none !important;
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #ff6c2f;
}
.modal-dialog {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width:none !important;

}
agm-map {
  height: 100%;
  width: auto;
}

.modal-content {
  height: 100vh;
  border-radius: 0 !important;
  background-color: #ececec !important
}

.modal-header {
  border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer {
  border-top: 1px solid #9ea2a2 !important;
}
.triangulo {
  width: 0px;
  height: 0px;
  border-bottom: 15px solid transparent;
  border-right: 10px solid #ff6c2f;
}
.triangulo2 {
  width: 0px;
  height: 0px;
  border-bottom: 15px solid transparent;
  border-left: 10px solid #ff6c2f;
}

#marcador{
  margin-left: 250px !important;
}
#button-mapa{
  position: absolute;
    right: 40px;
    left: 40px;
    top:100px
}
#modalActivate:hover{
  color: black;
}
#modalActivate{
  background-color: #ff6c2f;color: white;
}
#filtrosresponsive{
  display: none;
  background-color: #ff6c2f;
  color: white;
}

@media only screen and (max-width: 577px){
  #ordenarpor{
    width: 100%;
  }
  #cantidadbodegas{
    width: 100%;
  }
  #filtros{
    display: none;
  }
  #filtrosresponsive{
    width: 200px;
    height: auto;
    color: white;
    position: fixed;
    bottom: -1px;
    z-index: 1;
  }
  #showitems{
    width: 50%;
    overflow: auto;
    height: 90%;
    left: -5px !important;
  }
  .agminfo{
    width: 100% !important;
  }
}
